body {
    background-color: #c95c9e;
    font-family: 'Mathilga', sans-serif;
    color: #d0d81d;
  }
  @font-face {
    font-family: 'Mathilga';
    src: url('typo/Mathilga.ttf') format('truetype');
  }
  .responsive-image {
    max-width: 100%;
    height: auto;
  }