body {
    background-color: #63b87f;
    font-family: 'Mathilga', sans-serif;
    color: #e51f83;
  }
  @font-face {
    font-family: 'Mathilga';
    src: url('typo/Mathilga.ttf') format('truetype');
  }
  .responsive-image {
    max-width: 100%;
    height: auto;
  }